.cart{
    h1{
        text-align: center;
    }
    padding: 50px;
    .cartItem{
        position: relative;
        display: flex;
        background-color: rgb(240, 240, 240);
        margin-block: 25px;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
        .itemImg{
            width: 300px;
            padding: 3px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
            margin-right: 25px;
        }
    }
    .removeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 25px;
        top: 25px;
        height: 25px;
        width: 25px;
        border: none;
        color: rgb(94, 94, 94);
        font-size: 1.5rem;
        &:hover{
            color: rgb(255, 95, 95);
            transition: all 150ms;
        }
    }
    .totalPrice{
        margin-top: 25px;
    }
}