.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 20vh;
    padding-inline: 25px;
    .navbar__logo{
        height: 80px;
        color: white;
    }
    .navbar__menu{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center; 
    }
}