.itemCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;

    &__buttons{
        display: flex;

        & button{
            border: none;
            color: rgb(126, 126, 126);
            border-radius: 50px;
            font-size: 1.25rem;
            font-weight: bolder;
            width: 30px;
            height: 30px;
            background-color: rgb(178, 212, 250);

            &:hover{
                background-color: white;
                border: 1px solid rgb(178, 212, 250);
                transform: scale(1.1);
                transition: ease-in-out all 100ms;
            }
        }

        & p{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
        }
    }

    .stock{
        color: rgb(163, 163, 163);
    }

    .addToCart-btn{
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to top, rgb(79, 97, 136), rgb(108, 127, 167));
        color: rgb(255, 255, 255);
        padding: 10px;
        font-weight: bold;
        box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.800);

        &:hover{
            transform: scale(1.02);
            transition: all 250ms;
        }
    }
}